body {
	background-color: #090909;
	color: #fff;
	font-size: 16px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
#game {
	image-rendering: pixelated;
	background-color: black;
	width: min(100vw, 100vh);
	height: min(100vw, 100vh);
}
#mobile {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: space-between;
}
.mobile-side {
	display: flex;
	flex-direction: row;
}
.button {
	background-color: #0003;
	border-radius: 50%;
	width: min(200px, 20vw);
	margin: 10px
}
