@font-face {
	font-family: "Pixel";
	src: url("slkscre.ttf");
}
body {
	background-color: #090909;
	color: #fff;
	font-size: 16px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: "Pixel";
}
#game {
	image-rendering: pixelated;
	background-color: black;
	width: min(100vw, 100vh);
	height: min(100vw, 100vh);
}
#mobile {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: space-between;
}
.mobile-side {
	display: flex;
	flex-direction: row;
}
.button {
	background-color: #0003;
	border-radius: 50%;
	width: min(200px, 20vw);
	margin: 10px
}
#levels {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(100vw, 100vh);
	height: min(100vw, 100vh);
	background-color: #000;
	overflow-y: scroll;
	outline: 2px solid #222;
	text-align: center;
}
.level {
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
.level:hover {
	background-color: #4443;
}
.level h2 {
	margin: 0;
}
.level p {
	margin: 0;
	color: #999;
}
.hidden {
	display: none !important;
}
#upload {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(80vw, 80vh);
	height: min(80vw, 80vh);
	background-color: #000E;
	overflow-y: scroll;
	outline: 2px solid #222;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input[type="text"] {
	display: block;
	text-align: left;
	margin: 3px auto;
	font-family: Pixel;
	font-size: 24px;
	background-color: black;
	color: white;
	width: 10ch;
}
button {
	display: block;
	margin: 10px auto;
	font-family: Pixel;
	font-size: 24px;
	background-color: black;
	color: white;
	border: 2px solid #00B6E6;
}
#ui {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(100vw, 100vh);
	height: min(100vw, 100vh);
	overflow-y: scroll;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: end;
	pointer-events: none;
}
#ui canvas {
	width: 40px;
	height: 40px;
	image-rendering: pixelated;
	padding: 4px;
	margin: 6px 2px;
	cursor: pointer;
	pointer-events: all;
	filter: drop-shadow(0 8px black) drop-shadow(0 -8px black) drop-shadow(8px 0 black) drop-shadow(-8px 0 black);
}
